@import "tailwindcss";

/* @font-face {
    font-family: "futura";
    src: url("./fonts/futura/futur.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
   */
/* 


#EA454C PC  
#F8F8F8 BG-LOGIN */
